<div class="login-screen">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-form-field">
                        <mat-label>Login</mat-label>
                        <input id="loginField" matInput type="text" formControlName="login">
                    </mat-form-field>
                    <mat-form-field class="example-form-field">
                        <mat-label>Password</mat-label>
                        <input id="passwordField" matInput type="password" formControlName="password">
                    </mat-form-field>
                    <button 
                        mat-raised-button 
                        color="primary"
                        type="submit"
                        [disabled]="loginForm.invalid"
                    >Valider</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
